@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Dancing+Script&display=swap');

body
{
    font-family: 'Montserrat',sans-serif ;
    margin:0;
    padding:0;
    font-size: 16px;
    background-color: rgb(255, 255, 255)
}
h1
{
    
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    text-align: left;
}
.article
{
 text-align: left;
 width: 90%;
}
img
{
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 5px 5px 21px 5px #000000; 
    box-shadow: 5px 5px 21px 5px #000000;
    
}
.contenu-de-bloc
{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.boites
{
   
   
    width: 540px;
    height:390px;
    margin: 0px 30px 40px 30px;
    
    border-radius: 0px 27px 0px 35px;
    box-shadow: 2px 4px 14px 1px #000000;
    
}
.boites:hover
{
   
    transform: scale(0.9);
    transition: 0.6s ease-in-out;

}
.liens-lire-lasuite
{
    text-decoration: none;
    color: cadetblue;
    float: right;
    
}
a
{
    text-decoration: none;
    color: cadetblue;
   
}
.logo
{
    font-family: 'Dancing Script',cursive;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    text-shadow: 10px -2px 11px #CE5937;
    
}

.balise-select 
{
    margin-left: 70%;
    margin-bottom: -100px;
}



.container
{
    
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    text-align: left;
    margin-top: 200px;
    margin-left: auto;
    padding-left: 60px ;
    

    
}



/*article
{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 200px;
    padding:100px 100px 100px 100px;
   
}*/
/*.bloc-principale
{
    height: 400%;
    width: 80%;
    margin: auto;
    border: 1px solid brown;
}
/********************FOOTER************************/
footer
{
    background-color: saddlebrown;
    color:#FFFAE1 ;
    padding: 20px 0 10px 0px;
    text-align: center;
    
}
form
{
    margin: 0 auto;
    max-width: 900px;

}
input,textarea,button
{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro',sans-serif;
    border-radius: 8px;
}
textarea 
{
    height: 90px;
}
button
{
    font-size: 1.5em;
    background-color: #FFFAE1;
}
button:hover
{
    background-color: #e55039;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.5s ease-in-out ;
}
.deuxiemetrait
{
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}
.copyrighteticon
{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%; 
}
.copyright
{
    width: 50%; 
    text-align: left;
    color: #FFFAE1;
}
.icons
{
    width: 50%;
    text-align: right ;
}
.icons a
{
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
}
.icons a:hover
{
    transform: scale(1.5);
    transition: 0.1s;
}
